@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

body{
    background: #bbc6fa;
}

/* Main box */
.quote-box{
    background: #fff;
    width:700px;
    height: 380px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-40%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0,0,0,0.15);
}

.quote-box h2{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

/* Horizontal line after the h2 */
.quote-box h2::after{
    content: "";
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Quote */
.quote-box blockquote{
    font-size: 26px;
    min-height: 110px;
}

.quote-box blockquote::before, .quote-box blockquote::after{
    /* It adds the double set notation in the quote */
    content: '"';   
}

/* Author name */
.quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

/* It adds the line before the author name */
.quote-box span::before{
    content: "";
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30%;
}

.quote-box div{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.quote-box button{
    background:rgb(23, 124, 229) ;
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23, 124, 229);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

.quote-box button img{
    width: 20px;
    margin-right: 10px;
}

/* It selects the tweet button */
.quote-box button:nth-child(2){
    background: transparent;
    color: black;
}

/* navbar section */
.nav{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100%;
    transform: translate(25vw,1vh);
    position: relative;
    background: wheat;
    width: 50vw;
    padding: 10px;
    border-radius: 8px;
}

/* Remove dropdown arrow from datalist input */
input::-webkit-calendar-picker-indicator {
    display: none !important;
}

.nav>input:first-child{
    border: 2px solid white;
    outline: none;
    height: 3vh;
    width: 25%;
}

#general_Quotes, #famous_Quotes, #specific_Quotes{
    border: none;
    border-radius: 10px;
    font-size: 1em;
    padding: 8px;
    background: transparent;
}

.selection{
    display: inline-flex;
    flex-direction: column;
    background-color: rgba(248, 247, 247, 0.737);
    justify-content: center;
    /* transform: translate(-8vw,11vh); */
    width: 9vw;
    border-radius: 10px;
    padding: 5px;
    gap: 13px;
    visibility: hidden;
}

#general_selection{
    cursor: pointer;
    transform: translate(-8vw,8vh);
}

#famous_selection{
    transform: translate(-6vw,8vh);
}


#specific_selection{
    transform: translate(-4vw,8vh);
}

/* Style for when the checkbox is checked */
input[type="checkbox"].g1:checked + label {
    color: red; /* Change to your preferred color */
}

label{
    user-select: none;
}

