*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: rgb(218, 250, 240);
}

.container{
    display: flex;    
}

.imageSection{
    background-color: black;
    height: 68dvh;
    width: 20dvw;
    
}

.imageSection img{
    height: 50dvh;
    transform: translate(2rem,7.5rem);
}

.textSection{
    background-color: white;
    width: 20dvw;
    height: 65dvh;
    transform: translateY(0.3rem);
    padding: 2.3rem;
    display: flex;
    flex-direction: column;
}

.topSection{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topSection h2{
    font-size: 2rem;
}

.topSection h4{
    font-size: 1.5rem;
}

.topSection h5{
    color: rgb(56, 212, 212);
    font-size: 1rem;
}

.middleSection{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    top: 20px;
}


.size{
    display:inline-flex;
    gap: 20px;
    position: relative;
    left: 30px;
    margin-bottom: 12px;
}

.color{
    display: inline-flex;
    gap: 18px;
    position: relative;
    left: 20px;
    margin-bottom: 12px;
}

#redbtn:checked{
    accent-color: red;
}

#yellowbtn:checked {
    accent-color: yellow;
}

#greenbtn:checked {
    accent-color: green;
}

#pinkbtn:checked {
    accent-color: pink;
}

.quantity input{
    width: 50px;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 1px;
}

button{
    transform: translateY(50px);
    background-color: rgb(54, 54, 255);
    color: white;
    border: 0;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
}